style.css
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#ff9acb, #ff69b4);
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

.menu button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    background: white;
    color: #ff2f91;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.menu button:hover {
    background: #ffe0f0;
}

.hidden {
    display: none;
}

#answers button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    color: #ff2f91;
    cursor: pointer;
}

#answers button:hover {
    background: #ffe0f0;
}

#nextBtn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #fff;
    color: #ff2f91;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
